[run]
concurrency = multiprocessing
include =
  *bst_plugins_experimental/elements/*
  *bst_plugins_experimental/sources/*

[report]
show_missing = True
precision = 2

[paths]
bst-external =
    bst_plugins_experimental/
    */site-packages/bst_plugins_experimental/
