image: registry.gitlab.com/buildstream/buildstream-docker-images/testsuite-fedora:31-${DOCKER_IMAGE_VERSION}

cache:
  paths:
    - cache/

stages:
  - test
  - upload

variables:
  # Version of the docker images we should use for all the images.
  # This is taken from buildstream/buildstream-docker-images and is updated
  # periodically.
  DOCKER_IMAGE_VERSION: master-138527946

#####################################################
#                    Test stage                     #
#####################################################

.test-template: &test-template
  stage: test
  variables: &test-variables
    PYTEST_ADDOPTS: "--color=yes"
  script:
    # Diagnostics
    - mount
    - df -h

    # Common setup
    - useradd -Um buildstream
    - export INTEGRATION_CACHE="$(pwd)/cache/integration-cache"
    - chown -R buildstream:buildstream .

    # Run the tests form the source distribution.
    # We run as a simple user to test for permission issues
    - su buildstream -c 'tox -- --integration'

test-fixed-debian-10:
  <<: *test-template
  image: registry.gitlab.com/buildstream/buildstream-docker-images/testsuite-debian:10-${DOCKER_IMAGE_VERSION}
  before_script:
    - apt update -y
    - apt install -y git-lfs
  variables:
    <<: *test-variables
    TOXENV: "py37-bst-fixed"

test-fixed-ubuntu-18:
  <<: *test-template
  image: registry.gitlab.com/buildstream/buildstream-docker-images/testsuite-ubuntu:18.04-${DOCKER_IMAGE_VERSION}
  before_script:
    - apt update -y
    - apt install -y git-lfs
    - |
      cat > /etc/gitconfig << EOF
      [filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
      EOF

  variables:
    <<: *test-variables
    TOXENV: "py36-bst-fixed"

test-fixed-fedora-31:
  <<: *test-template
  before_script:
    - dnf install -y git-lfs
  variables:
    <<: *test-variables
    TOXENV: "py37-bst-fixed"

test-fixed-python-38-debian:
  <<: *test-template
  image: registry.gitlab.com/buildstream/buildstream-docker-images/testsuite-python:3.8-buster-${DOCKER_IMAGE_VERSION}
  before_script:
    - apt update -y
    - apt install -y git-lfs
  variables:
    <<: *test-variables
    TOXENV: "py38-bst-fixed"

# NOTE: Tests against master are only run against only one distribution in
# order to conserve CI resources.
test-master-fedora-31:
  image: registry.gitlab.com/buildstream/buildstream-docker-images/testsuite-fedora:31-${DOCKER_IMAGE_VERSION}
  <<: *test-template
  before_script:
    - dnf install -y git-lfs
  variables:
    <<: *test-variables
    TOXENV: "py37-bst-master"
  allow_failure: true

test-master-buildbox-run:
  <<: *test-template
  before_script:
    - dnf install -y git-lfs
  variables:
    <<: *test-variables
    TOXENV: "py37-bst-master"
    BST_FORCE_SANDBOX: "buildbox-run"
  allow_failure: true

docs:
  stage: test
  script:
  - tox -e docs
  artifacts:
    paths:
    - doc/build/html

lint:
  stage: test
  script:
  - tox -e lint

format-check:
  stage: test
  script:
  - tox -e format-check



#####################################################
#               Upload stage                        #
#####################################################

# Release documentation on all pushes to master branch.
#
pages:
  stage: upload
  dependencies:
  - docs
  script:
  - mv doc/build/html public
  artifacts:
    paths:
    - public/
  only:
  - master

# Automatically upload to PyPI when a release is tagged.
#
pypi-release:
  stage: upload
  before_script:
  - pip3 install twine
  script:
  - python3 setup.py sdist
  - twine upload dist/*.tar.gz
  only:
  - /[0-9]+\.[0-9]+\.[0-9]+/
  except:
  - branches
