image: buildstream/buildstream-fedora:master-89-4d92c106


cache:
  paths:
    - cache/

stages:
  - prepare
  - test
  - docs

before_script:
  # Diagnostics
  - mount
  - df -h

  - adduser -m buildstream
  - chown -R buildstream:buildstream .

  - pip3 install pytest
  - pip3 install requests

#####################################################
#                  Prepare stage                    #
#####################################################

# Create a source distribution
#
source_dist:
  stage: prepare
  script:

  # Generate the source distribution tarball
  #
  - python3 setup.py sdist
  - tar -ztf dist/*
  - tarball=$(cd dist && echo $(ls *))

  # Create an installer script
  - |
    cat > dist/install.sh << EOF
    #!/bin/sh
    tar -zxf ${tarball}
    cd ${tarball%.tar.gz}
    pip3 install --no-index .
    EOF

  # unpack tarball as `dist/bst-external` directory
  - |
    cat > dist/unpack.sh << EOF
    #!/bin/sh
    tar -zxf ${tarball}
    mv ${tarball%.tar.gz} bst-external
    EOF

  # Make our helpers executable
  - chmod +x dist/install.sh
  - chmod +x dist/unpack.sh
  artifacts:
    paths:
    - dist/

#####################################################
#                    Test stage                     #
#####################################################

integration_linux:
  stage: test
  variables:
    PYTEST_ADDOPTS: "--color=yes"
  script:

    - export INTEGRATION_CACHE="$(pwd)/cache/integration-cache"
    
    # Unpack and get into dist/bst-external
    - cd dist && ./unpack.sh
    - chown -R buildstream:buildstream bst-external
    - cd bst-external

    # Run the trsts from the source distribution.
    # We run as a simple user to test for permission issues.
    - su buildstream -c 'python3 setup.py test --index-url invalid://uri'

    # Go back top level and collect our reports
    - cd ../.. #you may only have to go back one level here...
    - mkdir -p coverage-linux/
    - cp dist/bst-external/.coverage.* coverage-linux/coverage.linux
  artifacts:
    paths:
    - coverage-linux/
  dependencies:
  - source_dist

integration_unix:
  stage: test
  variables:
    BST_FORCE_BACKEND: "unix"
    PYTEST_ADDOPTS: "--color=yes"
  script:

    - export INTEGRATION_CACHE="$(pwd)/cache/integration-cache"

    # Unpack and get into dist/bst-external
    - cd dist && ./unpack.sh && cd bst-external

    # Since the unix platform is required to run as root, no user change required
    - python3 setup.py test --index-url invalid://uri

    # Go back top level and collect our reports
    - cd ../..
    - mkdir -p coverage-unix/
    - cp dist/bst-external/.coverage.* coverage-unix/coverage.unix

  artifacts:
    paths:
    - coverage-unix/
    - logs-unix/

  dependencies:
  - source_dist

# Automatically build documentation, only for merges which land
# on master branch.
#
# Note: We still do not enforce a consistent installation of python2
#       or sphinx, as python2 will significantly grow the backing image.
#

#####################################################
#                  Docs stage                       #
#####################################################

pages:
  stage: docs
  script:
  - dnf install -y python2
  - pip3 install sphinx
  - pip3 install sphinx-click
  - pip3 install --user .
  - make -C doc
  - mv doc/build/html public
  artifacts:
    paths:
    - public/
  only:
  - master
